export FCOS_KUBE_VERSION="v1.18.2"
export FCOS_CRICTL_VERSION="v1.18.0"
export FCOS_HOSTNAME=master.playground.k8s
export FCOS_ADVERTISE_IP=192.168.56.114
export FCOS_SSH_PUBKEY="$(cat ~/.ssh/id_ed25519.pub)"