export FCOS_KUBE_VERSION="v1.18.2"
export FCOS_CRICTL_VERSION="v1.18.0"
export FCOS_HOSTNAME=master.playground.k8s
export FCOS_ADVERTISE_IP=192.168.56.20

# your ssh pub key
export FCOS_SSH_PUBKEY="$(cat ~/.ssh/id_ed25519.pub)"

# The setup command. On masters it is as below...
export FCOS_SETUP_COMMAND="kubeadm init --config=/etc/kubernetes/kubeadm-custom-config.yaml"

# On worker nodes it is the command printed out by kubeadm init. This is in /var/log/setup-k8s.log on the master.
# export FCOS_SETUP_COMMAND="kubeadm join ..."


